include src/wmm2020/meson.build src/wmm2020/CMakeLists.txt src/wmm2020/setup.cmake src/wmm2020/test_input.asc src/wmm2020/WMM.COF
recursive-include src/wmm2020/src *.c
recursive-include src/wmm2020/src *.h
